<h1><%= @worklist.title %></h1>

<%= @worklist.duedate %><hr> </br></br>

<%= @worklist.description%></br></br></br></br><hr>

<p><%= link_to 'Back to homepage', worklists_path,class:"btn btn-primary btn-xs"%></p>